#show {
	margin:0px auto;
	width:1200px;
	height:600px;
	border:3px #cccccc dashed;
	background-color: #FFDED7;
} 

#header {
	margin:20px auto;
	/*background-color: #FF5733;*/
	width:1200px;
	font-size: 20px;
	padding: 10px 10px;
	border-radius: 10px;
}

select, input {
	/*background-color: #b2938d;*/
	border-radius: 10px;
	border: 3px solid #665544;
}

#submit, #clean {
	position: relative;
	left:519px;
	font-size: 17px;
}

#submit:hover, #clean:hover {
	border-color: black;
}
